
<img class="wave" src="../../assets/wave.png">
<div class="container">
    <div >
        <img src="../../assets/employeer.png" class="img-emplo">
    </div>
    <div class="login-content">
        <form action="index.html">
            <img src="../../assets/eje.jpg" class="custom">
            <h2 class="title">Bienvenido</h2>
               <div class="input-div one">
                  <div class="i">
                          <i class="fas fa-user"></i>
                  </div>
                  <div class="div">
                          <input type="text" class="input" placeholder="Escribe tu usuario">
                  </div>
               </div>
               <div class="input-div pass">
                  <div class="i"> 
                       <i class="fas fa-lock"></i>
                  </div>
                  <div class="div">
                       <input type="password" class="input" placeholder="Escribe tu contraseña">
               </div>
            </div>
            <a href="#" class="forgotpass">Contraseña olvidada?</a>
            <input type="submit" class="btn" value="Iniciar Sesion">
        </form>
    </div>
</div>