<div class="mainheader">
<div class="container">
    <div class="wrapper">
        <div class="portal-card recluiter">
            <!--div class="clash-card__image clash-card__image--barbarian"-->
            <div class="portal-card__image portal-card__image--recluiter">
                <img src="../../assets/consultoria-removebg.png" alt="recluiter" />
            </div>
            <div class="portal-card__level portal-card__level--recluiter">Busca Tu Candidato Ideal</div>
            <div class="portal-card__unit-name">PAGINA PARA RECLUTADORES</div>
            <div class="portal-card__unit-description">
                Bienvenido al portal de busqueda de empleo, aqui encontraras diferentes opciones para encontrar a tu
                candidato ideal!
            </div>

            <div class="portal-card__unit-stats portal-card__unit-stats--recluiter clearfix">
                <div class="one-third">
                    <div class="stat">500</div>
                    <div class="stat-value">Recluiters</div>
                </div>

                <div class="one-third">
                    <div class="stat">Nueva</div>
                    <div class="stat-value">Vacante</div>
                </div>

                <div class="one-third no-border">
                    <div class="stat">Click</div>
                    <div class="stat-value">Aqui</div>
                </div>

            </div>

        </div> <!-- end clash-card barbarian-->
    </div> <!-- end wrapper -->

    <div class="wrapper">
        <div class="portal-card empleado">
            <div class="portal-card__image portal-card__image--empleado">
                <img src="../../assets/trabajador1.png" alt="empleado" />
            </div>
            <div class="portal-card__level portal-card__level--empleado">BUSCA TU EMPLEO IDEAL</div>
            <div class="portal-card__unit-name">PAGINA PARA CANDIDATOS</div>
            <div class="portal-card__unit-description">
               Bienvenido al portal de busqueda de empleo, aqui podras postularte para conseguir tu primer empleo ademas de 
               multiples funciones!
            </div>

            <div class="portal-card__unit-stats portal-card__unit-stats--empleado clearfix">
                <div class="one-third">
                    <div class="stat">10000</div>
                    <div class="stat-value">Empleados</div>
                </div>

                <div class="one-third">
                    <div class="stat">Que</div>
                    <div class="stat-value">Esperas</div>
                </div>

                <div class="one-third no-border">
                    <div class="stat">Click</div>
                    <div class="stat-value">AQUI</div>
                </div>

            </div>

        </div>
    </div>

</div> <!-- end wrapper -->