<img class="wave" src="../../assets/wave(51).png">
<div class="container">
    <div>
        <img src="../../assets/My project-1.png" class="img-emplo">
    </div>
    <div class="login-content">
        <form action="index.html" (ngSubmit)="loginReclu()" [formGroup]="loginForm">
            <div class="custom-div"><img src="../../assets/contratos.jpg" class="custom"></div>
            <h3 class="title">Bienvenido Reclutador</h3>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <input type="email" class="input" name="email" placeholder="Escribe tu usuario" required
                        formControlName="email" [email]="true">
                    <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['email']"
                        class="validators">* Escribe un formato de correo valido *</div>
                    <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['required']"
                        class="validators">* Email es requerido*</div>
                </div>
            </div>
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <input type="password" class="input" placeholder="Escribe tu contraseña" required
                        formControlName="password" required minlength="6" id="inputContra">
                    <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']"
                        class="validators">* contraseña es requerida *</div>
                    <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['minlength']"
                        class="validators">* Minimo de caracteres permitidos 6 *</div>
                </div>
            </div>
            <div>
                <input style="margin-left:6px;" class="custom-pass" type="checkbox" id="mostrar_contrasena"
                    title="clic para mostrar contraseña" (click)="mostrarPass()">
                &nbsp;&nbsp;Mostrar Contraseña
            </div>
            <a href="/register-recluiter" class="forgotpass" (click)="clickRegister()">No tienes Cuenta?, Registrate</a>
            <input type="submit" class="btn" [disabled]="loginForm.invalid" value="Iniciar Sesión">
            <a href="#" class="forgotpass">Contraseña olvidada?</a>
        </form>
    </div>
</div>