<app-navbar></app-navbar>

<main>
    <video muted autoplay loop>
        <source src="../../assets/Untitled video ‐ Hecho con Clipchamp.mp4">
    </video>
    <div class="capa"></div>

    <div class="content">
        <h1 class="glass">"El trabajo que buscas, a tu alcance"</h1> </div>
        <p class="text">Bienvenido al portal de empleo mas grande de todos, empieza ahora es gratis
        </p>
        <p class="text">Postulate a un sin fin de trabajos, busca tu empleo ideal, cambia tu vida, construye tu futuro
        </p>
        <div class="center">
        <a class="button">Explorar ahora</a></div>
  
</main>
<br>
<app-offers></app-offers>