<app-navbar-recluiter></app-navbar-recluiter>

<div class="container">
    <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
        <div class="pb-5 bg-white bg-slate-900">
            <hr>
            <label for="table-search" class="sr-only">Search</label>
            <div class="relative">
                <div class="flex absolute inset-y-0 left-0 items-center pl-2 pointer-events-none">
                    <svg class="w-4 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor"
                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                            clip-rule="evenodd"></path>
                    </svg>
                </div>
                <input type="text" id="table-search"
                    class="block p-2 pl-10 w-80 text-sm text-gray-900 rounded-lg border-purple-300 focus:ring-blue-500
                     focus:border-blue-500 bg-Fuchsia-300 border-2 border-pink-800 dark:placeholder-gray-400 dark:text-black dark:focus:ring-pink-500 dark:focus:border-pink-500"
                    placeholder="Filtra tu vacante aqui">
            </div>
        </div>
        <table class="w-full text-sm text-left text-slate-50 text-slate-50">
            <thead class="text-xs text-slate-50 uppercase bg-zinc-900 bg-pink-700 text-slate-50">
                <tr>
                    <th scope="col" class="p-4">
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Nombre De Empleo
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Descripcion
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Ciudad
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Salario
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Experiencia
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Fecha
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Ajustes
                    </th>
                </tr>
            </thead>
            <tbody *ngFor="let jobs of job">
                <tr
                    class="font-bold border-2 dark:bg-gray-600  dark:border-slate-50 hover:bg-purple-900 dark:hover:bg-pink-800">
                    <td class="p-4 w-4">
                        <div class="flex items-center">
                        </div>
                    </td>
                    <td class="py-4 px-6">
                        {{jobs.title}}
                    </td>
                    <td class="py-4 px-6">
                        {{jobs.workingDate}}
                    </td>
                    <td class="py-4 px-6">
                        {{jobs.location}}
                    </td>
                    <td class="py-4 px-6">
                        {{jobs.salary|currency}}
                    </td>
                    <td class="py-4 px-6">
                        {{jobs.experience}} años
                    </td>
                    <td class="py-4 px-6">
                        {{jobs.createdAt | date :"dd.MM.yyyy"}}
                    </td>
                    <td class="py-4 px-6">
                        <button type="button" class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Ajustar</button>
                        <button type="button" class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Borrar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav class="flex justify-between items-center pt-2" aria-label="Table navigation">
            <ul class="inline-flex items-center -space-x-px">
                <li>
                    <a href="#"
                        class="block py-2 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                        <span class="sr-only">Previous</span>
                        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#"
                        class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
                </li>
                <li>
                    <a href="#"
                        class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">2</a>
                </li>
                <li>
                    <a href="#" aria-current="page"
                        class="z-10 py-2 px-3 leading-tight text-blue-600 bg-blue-50 border border-blue-300 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">3</a>
                </li>
                <li>
                    <a href="#"
                        class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">...</a>
                </li>
                <li>
                    <a href="#"
                        class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">100</a>
                </li>
                <li>
                    <a href="#"
                        class="block py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                        <span class="sr-only">Next</span>
                        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>