.title-portal {
    text-align: left;
    font-family: Arial Black;
    font-size: 18px;
    background: #02411e;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    margin-left: -25%;
}

element {
    margin-left: -16%;
  }