.object-cover {
    width: 400px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

.md\:w-1\/2 {
    width: 100%;
}

.wave {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 93%;
    z-index: -1;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}

.validators {
    text-align: center;
    color: red;
    font-size: small;
}