<app-navbar-recluiter></app-navbar-recluiter>

<section class="bg-white dark:bg-indigo-900">
    <div class="container flex flex-col px-6 py-10 mx-auto space-y-6 lg:h-[32rem] lg:py-16 lg:flex-row lg:items-center">
        <div class="w-full lg:w-1/2 ">
            <div class="lg:max-w-lg">
                <h1 class="text-3xl font-bold tracking-wide text-gray-800 dark:text-white lg:text-5xl">
                    Fácil Manera De Conseguir Candidatos
                </h1>
                <div class="mt-8 space-y-5">
                    <p class="flex items-center -mx-2 text-gray-700 dark:text-gray-200">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-2 text-blue-500" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        <span class="mx-2">Olvídate de metodos complicados, crea tu vacante</span>
                    </p>
                    <p class="flex items-center -mx-2 text-gray-700 dark:text-gray-200">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-2 text-blue-500" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        <span class="mx-2">Seguimiento a Candidatos, de manera virtual</span>
                    </p>
                    <p class="flex items-center -mx-2 text-gray-700 dark:text-gray-200">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-2 text-blue-500" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>

                        <span class="mx-2">Todo en una sola web, hazte con el mejor talento!</span>
                    </p>
                </div>
            </div>
            <div
                class="w-full mt-8 bg-transparent border rounded-md lg:max-w-sm dark:border-gray-700 focus-within:border-blue-400 focus-within:ring focus-within:ring-blue-300 dark:focus-within:border-blue-400 focus-within:ring-opacity-40">
                <form class="flex flex-col lg:flex-row">
                    <input type="email" placeholder="Mantente alerta a tus candidatos"
                        class="flex-1 h-10 px-4 py-2 m-1 text-gray-700 placeholder-gray-400 dark:text-gray-200 focus:outline-none focus:placeholder-transparent focus:ring-0" />

                    <button type="button"
                        class="h-10 px-4 py-2 m-1 text-white transition-colors duration-200 transform bg-blue-500 rounded-md hover:bg-blue-400 focus:outline-none focus:bg-blue-400">
                        Suscribete
                    </button>
                </form>
            </div>
        </div>
        <div class="flex items-center justify-center w-full h-96 lg:w-1/2">
            <img class="object-cover w-full h-full mx-auto rounded-md lg:max-w-2xl" src="../../assets/reclutamient.png"
                alt="glasses photo">
        </div>
    </div>
</section>

<div class="hidden sm:block" aria-hidden="true">
    <div class="py-5">
        <div class="border-t border-gray-200"></div>
    </div>
    <p class="custom-title">CREA TU PRIMERA VACANTE </p>
</div>
<div class="container-vacancy">
    <div class="mt-3 sm:mt-0">
        <div class="md:grid md:grid-cols-2 md:gap-2 ">
            <div class="md:col-span-5">
            </div>
            <img src="../../assets/wave(1).png" class="wave" width="380px">
            <form action="#" method="POST">
                <div class="shadow overflow-hidden sm:rounded-md shadow-lg">
                    <div class="px-5 py-5 bg-white sm:p-6">
                        <div class="grid grid-cols-3 gap-3">
                            <div class="col-span-6 sm:col-span-5">
                                <label for="first-name" class="block text-sm font-medium text-gray-700">
                                    Nombre De Empleo</label>
                                <input type="text" name="first-name" id="first-name" autocomplete="given-name"
                                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div class="col-span-6 sm:col-span-5">
                                <label for="last-name"
                                    class="block text-sm font-medium text-gray-700">Descripción</label>
                                <input type="text" name="last-name" id="last-name" autocomplete="family-name"
                                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div class="col-span-3 sm:col-span-2">
                                <label for="country" class="block text-sm font-medium text-gray-700">Salario
                                    Establecido</label>
                                <select id="country" name="country" autocomplete="country-name"
                                    class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                    <option class="low-color">Selecciona opción</option>
                                    <option>100</option>
                                    <option>200</option>
                                    <option>300</option>
                                    <option>400</option>
                                    <option>500</option>
                                    <option>600</option>
                                    <option>700</option>
                                    <option>800</option>
                                    <option>900</option>
                                </select>
                            </div>
                            <div class="col-span-6 sm:col-span-4">
                                <label for="country" class="block text-sm font-medium text-gray-700">Ciudad</label>
                                <select id="country" name="country" autocomplete="country-name"
                                    class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                    <option class="low-color">Selecciona una ciudad</option>
                                    <option>Cali</option>
                                    <option>Medellin</option>
                                    <option>Bogota</option>
                                    <option>Cartagena</option>
                                    <option>Choco</option>
                                    <option>Barranquilla</option>
                                    <option>Bucaramanga</option>
                                    <option>Pasto</option>
                                    <option>Tolima</option>
                                </select>
                            </div>
                            <div class="col-span-6">
                                <label for="street-address"
                                    class="block text-sm font-medium text-gray-700">Funciones</label>
                                <input type="text" name="street-address" id="street-address"
                                    autocomplete="street-address"
                                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>

                            <div class="col-span-6 sm:col-span-6 lg:col-span-2">
                                <label for="city" class="block text-sm font-medium text-gray-700">Modalidad</label>
                                <input type="text" name="city" id="city" autocomplete="address-level2"
                                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>

                            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                                <label for="region" class="block text-sm font-medium text-gray-700">Experiencia
                                </label>
                                <select id="country" name="country" autocomplete="country-name"
                                    class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                    <option class="low-color">Años</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>

                            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                                <label for="postal-code" class="block text-sm font-medium text-gray-700">Fecha De
                                    Publicación
                                </label>
                                <input type="date" name="postal-code" id="postal-code" autocomplete="postal-code"
                                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                        </div>
                    </div>
                    <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                        <button type="submit"
                            class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Crear
                            Vacante</button>
                    </div>
                </div>
            </form>
            <img src="../../assets/recluiterr.png" class="custom-img" width="380px">
        </div>
    </div>
</div>

<div class="border-solid border-4 border-indigo-600"></div>
<div class="bg-white dark:bg-gray-900">
    <div class="container px-6 py-8 mx-auto">
        <div class="xl:items-center xl:-mx-8 xl:flex">
            <div class="flex flex-col items-center xl:items-start xl:mx-8">
                <h1 class="text-3xl font-medium text-gray-800 capitalize lg:text-4xl dark:text-white">Conoce Nuestros
                    Planes!
                </h1>

                <div class="mt-4">
                    <span class="inline-block w-40 h-1 bg-blue-500 rounded-full"></span>
                    <span class="inline-block w-3 h-1 mx-1 bg-blue-500 rounded-full"></span>
                    <span class="inline-block w-1 h-1 bg-blue-500 rounded-full"></span>
                </div>

                <p class="mt-4 font-medium text-gray-500 dark:text-gray-300">
                    Puedes acceder a cada uno de ellos, solo elige tu plan
                </p>

                <a href="#"
                    class="flex items-center mt-4 -mx-1 text-sm text-gray-700 capitalize dark:text-blue-400 hover:underline hover:text-blue-600 dark:hover:text-blue-500">
                    <span class="mx-1">Leer mas</span>
                    <svg class="w-4 h-4 mx-1" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </a>
            </div>

            <div class="flex-1 xl:mx-8">
                <div class="mt-8 space-y-8 md:-mx-4 md:flex md:items-center md:justify-center md:space-y-0 xl:mt-0">
                    <div class="max-w-sm mx-auto border rounded-lg md:mx-4 dark:border-gray-700">
                        <div class="p-6">
                            <h1 class="text-xl font-medium text-gray-700 capitalize lg:text-3xl dark:text-white">
                                Basico</h1>

                            <p class="mt-4 text-gray-500 dark:text-gray-300">
                                Disfruta de las increibles funciones que tenemos para ti en el portal empleo
                            </p>

                            <h2 class="mt-4 text-2xl font-medium text-gray-700 sm:text-4xl dark:text-gray-300">$50.000
                                COP
                                <span class="text-base font-medium">/ Mes</span>
                            </h2>

                            <p class="mt-1 text-gray-500 dark:text-gray-300">
                                Pago Mensualmente
                            </p>

                            <button
                                class="w-full px-4 py-2 mt-6 tracking-wide text-white capitalize transition-colors duration-200 transform bg-blue-600 rounded-md hover:bg-blue-500 focus:outline-none focus:bg-blue-500 focus:ring focus:ring-blue-300 focus:ring-opacity-80">
                                Empieza Ahora
                            </button>
                        </div>

                        <hr class="border-gray-200 dark:border-gray-700">

                        <div class="p-6">
                            <h1 class="text-lg font-medium text-gray-700 capitalize lg:text-xl dark:text-white">
                                Que Incluye:</h1>

                            <div class="mt-8 space-y-4">
                                <div class="flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500"
                                        viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd"
                                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                            clip-rule="evenodd" />
                                    </svg>

                                    <span class="mx-4 text-gray-700 dark:text-gray-300">Acceso a los mejores
                                        candidatos</span>
                                </div>

                                <div class="flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500"
                                        viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd"
                                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                            clip-rule="evenodd" />
                                    </svg>

                                    <span class="mx-4 text-gray-700 dark:text-gray-300">Plataforma inteligente de
                                        seleccion</span>
                                </div>

                                <div class="flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500"
                                        viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd"
                                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                            clip-rule="evenodd" />
                                    </svg>

                                    <span class="mx-4 text-gray-700 dark:text-gray-300">hasta 10 candidatos
                                        recomendados</span>
                                </div>

                                <div class="flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500"
                                        viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd"
                                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                            clip-rule="evenodd" />
                                    </svg>

                                    <span class="mx-4 text-gray-700 dark:text-gray-300">Reclutamiento 5.0 </span>
                                </div>

                                <div class="flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-red-400"
                                        viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd"
                                            d="M13.477 14.89A6 6 0 015.11 6.524l8.367 8.368zm1.414-1.414L6.524 5.11a6 6 0 018.367 8.367zM18 10a8 8 0 11-16 0 8 8 0 0116 0z"
                                            clip-rule="evenodd" />
                                    </svg>

                                    <span class="mx-4 text-gray-700 dark:text-gray-300">Invitaciones limitadas</span>
                                </div>

                                <div class="flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-red-400"
                                        viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd"
                                            d="M13.477 14.89A6 6 0 015.11 6.524l8.367 8.368zm1.414-1.414L6.524 5.11a6 6 0 018.367 8.367zM18 10a8 8 0 11-16 0 8 8 0 0116 0z"
                                            clip-rule="evenodd" />
                                    </svg>

                                    <span class="mx-4 text-gray-700 dark:text-gray-300">Usuarios Limitados</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="max-w-sm mx-auto border rounded-lg md:mx-4 dark:border-gray-700">
                        <div class="p-6">
                            <h1 class="text-xl font-medium text-gray-700 capitalize lg:text-3xl dark:text-white">
                                Premium
                            </h1>

                            <p class="mt-4 text-gray-500 dark:text-gray-300">
                                Disfruta de las increibles funciones premium que tenemos para ti en el portal empleo
                            </p>

                            <h2 class="mt-4 text-2xl font-medium text-gray-700 sm:text-4xl dark:text-gray-300">
                                $500.000 COP
                                <span class="text-base font-medium">/ Unica vez</span>
                            </h2>

                            <p class="mt-1 text-gray-500 dark:text-gray-300">
                                Solo pagas una vez
                            </p>

                            <button
                                class="w-full px-4 py-2 mt-6 tracking-wide text-white capitalize transition-colors duration-200 transform bg-blue-600 rounded-md hover:bg-blue-500 focus:outline-none focus:bg-blue-500 focus:ring focus:ring-blue-300 focus:ring-opacity-80">
                                Empieza Ahora
                            </button>
                        </div>

                        <hr class="border-gray-200 dark:border-gray-700">

                        <div class="p-6">
                            <h1 class="text-lg font-medium text-gray-700 capitalize lg:text-xl dark:text-white">
                                Que Incluye:</h1>

                            <div class="mt-8 space-y-4">
                                <div class="flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500"
                                        viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd"
                                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                            clip-rule="evenodd" />
                                    </svg>

                                    <span class="mx-4 text-gray-700 dark:text-gray-300">Funciones de seguimiento a
                                        candidatos</span>
                                </div>

                                <div class="flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500"
                                        viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd"
                                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                            clip-rule="evenodd" />
                                    </svg>

                                    <span class="mx-4 text-gray-700 dark:text-gray-300">Test de habilidades para
                                        candidatos</span>
                                </div>

                                <div class="flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500"
                                        viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd"
                                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                            clip-rule="evenodd" />
                                    </svg>

                                    <span class="mx-4 text-gray-700 dark:text-gray-300">Chatea con los
                                        postulantes</span>
                                </div>

                                <div class="flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500"
                                        viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd"
                                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                            clip-rule="evenodd" />
                                    </svg>

                                    <span class="mx-4 text-gray-700 dark:text-gray-300">Herramientas SEO</span>
                                </div>

                                <div class="flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500"
                                        viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd"
                                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                            clip-rule="evenodd" />
                                    </svg>

                                    <span class="mx-4 text-gray-700 dark:text-gray-300">Te recomendamos a empresas
                                        aliadas</span>
                                </div>

                                <div class="flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500"
                                        viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd"
                                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                            clip-rule="evenodd" />
                                    </svg>

                                    <span class="mx-4 text-gray-700 dark:text-gray-300">Soporte 24/07</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="border-solid border-4 border-indigo-600"></div>
<div class="border-solid border-4 border-gray-800"></div>
<div class="border-solid border-4 border-gray-800"></div>
<div class="border-solid border-4 border-gray-800"></div>
<div class="border-solid border-4 border-gray-800"></div>
<div class="border-solid border-4 border-gray-800"></div>
<div class="border-solid border-4 border-gray-800"></div>
<div class="border-solid border-4 border-gray-800"></div>

<footer class="dark:bg-gray-800">
    <div class="container px-6 py-4 mx-auto">
        <div class="lg:flex">
            <div class="w-full -mx-6 lg:w-2/5">
                <div class="px-6">
                    <div>
                        <a href="#"
                            class="text-xl font-bold text-gray-800 dark:text-white hover:text-gray-700 dark:hover:text-gray-300">Portal
                            Empleo</a>
                    </div>
                    <p class="max-w-md mt-2 text-gray-500 dark:text-gray-400">Unete a nuestra comunidad 1,000+
                        reclutadores en nuestro portal</p>

                    <div class="flex mt-4 -mx-2">
                        <a href="https://www.linkedin.com/in/diego-andr%C3%A9s-e-071a2018a/"
                            class="mx-2 text-gray-700 dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400"
                            aria-label="Linkden">
                            <svg class="w-4 h-4 fill-current" viewBox="0 0 512 512">
                                <path
                                    d="M444.17,32H70.28C49.85,32,32,46.7,32,66.89V441.61C32,461.91,49.85,480,70.28,480H444.06C464.6,480,480,461.79,480,441.61V66.89C480.12,46.7,464.6,32,444.17,32ZM170.87,405.43H106.69V205.88h64.18ZM141,175.54h-.46c-20.54,0-33.84-15.29-33.84-34.43,0-19.49,13.65-34.42,34.65-34.42s33.85,14.82,34.31,34.42C175.65,160.25,162.35,175.54,141,175.54ZM405.43,405.43H341.25V296.32c0-26.14-9.34-44-32.56-44-17.74,0-28.24,12-32.91,23.69-1.75,4.2-2.22,9.92-2.22,15.76V405.43H209.38V205.88h64.18v27.77c9.34-13.3,23.93-32.44,57.88-32.44,42.13,0,74,27.77,74,87.64Z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="mt-6 lg:mt-0 lg:flex-1">
                <div class="grid grid-cols-2 gap-6 sm:grid-cols-3 md:grid-cols-4">
                    <div>
                        <h3 class="text-gray-700 uppercase dark:text-white">Acerca</h3>
                        <a class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline">Compañia</a>
                        <a class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline">Comunidad</a>
                        <a class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline">Ofertas</a>
                    </div>

                    <div>
                        <h3 class="text-gray-700 uppercase dark:text-white">Blog</h3>
                        <a class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline">Como reclutar</a>
                        <a class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline">Perfil Ideal</a>
                        <a class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline">Como la
                            tecnologia cambio el reclutamiento</a>
                    </div>

                    <div>
                        <h3 class="text-gray-700 uppercase dark:text-white">Productos</h3>
                        <a class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline">Mega cloud</a>
                        <a class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline">Aperion UI</a>
                        <a class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline">Meraki UI</a>
                    </div>
                    <div>
                        <h3 class="text-gray-700 uppercase dark:text-white">Contacto</h3>
                        <span class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline">+57
                            3127421361</span>
                        <span
                            class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline">nightwing-dev@github.com</span>
                    </div>
                </div>
            </div>
        </div>

        <hr class="h-px my-6 bg-gray-300 border dark:bg-gray-700">

        <div>
            <p class="text-center text-gray-800 dark:text-white">© Portal Empleo 2022 - All rights reserved</p>
        </div>
    </div>
</footer>